@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40300%3B400&family=Roboto%3Awght%40700&family=Rubik%3Aital%2Cwght%400%2C400%3B1%2C300%3B1%2C400&display=swap%27%29%3B);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 50.5%;
}

body, html {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(72deg, #212529 1%, #4280E1 72%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    height: 480px;
    min-height: 440px;
    max-height: 500px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

    header h1 {
        font-family: "Roboto";
        font-weight: bold;
        color: #f0fbfa;
        font-size: 6.4rem;
        margin-left: 25px;
    }


main {
    margin: auto;
    width: 85%;
    height: 70%;
}

    main form {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 5.5rem;
    border: 2px solid #def7f4;
    flex-direction: row-reverse;
    transition: .3s;
}

    .input-field:hover {
        border: 2px solid #d5ecea;
    }

    .input-field input {
        border: none;
        outline: none;
        background-color: #def7f4;
        width: 82%;
        height: 5.5rem;
        padding-left: 20px;
        font-size: 2.0rem;
        font-family: "Poppins";
        border-radius: 0 8px 8px 0;
        transition: .3s;
    }

    .input-field:hover > input {
        background-color: #d5ecea;
    }

::-webkit-input-placeholder {
    color: #6d6e6f;
    font-weight: 300;
}

.input-field label {
    height: 5.5rem;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .input-field label img {
        width: 3.3rem;
        height: 3.3rem;
    }

.checkbox label {
    color: #def7f4;
    font-family: "Rubik";
    font-size: 1.8rem;
    cursor: pointer;
    transition: .3s;
}

    .checkbox label:hover {
        color: #c0e8ee;
    }

.checkbox input {
    display: none;
}

    .checkbox input + label::before {
        content: '';
        display: inline-block;
        width: 2.4rem;
        height: 2.4rem;
        vertical-align: middle;
        border: 2px solid #def7f4;
        border-radius: 5px;
        margin-right: 10px;
    }

    .checkbox input:checked + label::before {
        background: url('./images/check.svg') no-repeat center;
    }

form button {
    height: 5.5rem;
    background-color: #447ce3;
    border: none;
    border-radius: 10px;
    color: #def7f4;
    outline: none;
    cursor: pointer;
    font-size: 2.0rem;
    font-family: "Rubik";
    transition: .3s;
}

    form button:hover {
        background: #3f72d1;
    }

.content footer {
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    border-bottom: 2px solid #def7f478;
}

footer a {
    color: #cbf0ee;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Rubik";
    font-style: italic;
    transition: .3s;
}

    footer a:hover {
        color: #bee3e9
    }

footer span a {
    font-weight: 300;
    color: #aee1e8;
}

footer span:hover {
    color: #a1d1d6;
}

@media(max-width: 600px) {
    html {
        font-size: 58%;
    }

    header h1 {
        font-size: 5.5rem;
    }
}

@media(max-width: 550px) {
    header h1 {
        font-size: 5.0rem;
    }
}

@media(max-width: 450px) {
    header h1 {
        font-size: 4.0rem;
    }
}

@media(max-width: 414px) {
    header h1 {
        font-size: 2.8rem;
    }

    .content {
        width: 80%;
    }

        .content main, .content footer {
            width: 100%;
        }

            .content footer a {
                font-size: 1.4rem;
            }
}

@media(max-width: 375px) {
    header h1 {
        font-size: 2.5rem;
    }

    .content {
        width: 80%;
    }

        .content main, .content footer {
            width: 100%;
        }

            .content footer a {
                font-size: 1.4rem;
            }
}

@media(max-width: 350px) {
    header h1 {
        font-size: 2.4rem;
    }

    .content {
        width: 80%;
    }

        .content main, .content footer {
            width: 100%;
        }

            .content footer a {
                font-size: 1.4rem;
            }
}
